*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  text-align: center;
  margin: 2rem auto;
  height: calc(100% - 10px);
 
}

.nameContainer button{
  width: 30%;
  padding: 5px;
  font-size: 19px;
  background-color: black;
  color: white;
   margin: 2rem;
   cursor: pointer;
}

.listItems button{
  /* width: 30%; */
  padding: 3px;
  font-size: 16px;
  background-color: black;
  color: white;
   margin: 10px;
   cursor: pointer;
}

.listItems button:hover, .listItems button:focus, form #addBtn:hover{
  color: aquamarine;
}

.listItems label{
  font-size: larger;
  padding: 2px;
}

li> input[type= 'checkbox']:checked + label{
  text-decoration: line-through 2px rgb(23, 8, 109);
  color: rgb(255, 0, 0);
}

li{
  background-color: rgb(212, 212, 212);
  margin: 5px auto;
  list-style-type: none;
  width: 40%;
  
}

#addList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#addItem{
  width: 40%;
  padding: 10px;
  border: 2px solid green;
  color: black;
  /* border-radius: 5px; */
  font-size: 19px;
  outline: none;
}

#addItem:hover, #addItem:focus{
  background-color: #e0efee;
     border: 2px solid rgb(82, 219, 82);
}

#addBtn{
  width: 40px;
    height: 40px;
    /* border-radius: 10px; */
    background: black;
    color: white;
    border: 2px solid black;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

